<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>taikhoanDAO</servlet-name>
        <servlet-class>DAO.taikhoanDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taotk</servlet-name>
        <servlet-class>funtion.taotk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taothongtin</servlet-name>
        <servlet-class>funtion.taothongtin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taott</servlet-name>
        <servlet-class>funtion.taott</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiemtradn</servlet-name>
        <servlet-class>funtion.kiemtradn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themspmua</servlet-name>
        <servlet-class>funtion.themspmua</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taikhoanDAO</servlet-name>
        <url-pattern>/taikhoanDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taotk</servlet-name>
        <url-pattern>/taotk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taothongtin</servlet-name>
        <url-pattern>/taothongtin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taott</servlet-name>
        <url-pattern>/taott</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiemtradn</servlet-name>
        <url-pattern>/kiemtradn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themspmua</servlet-name>
        <url-pattern>/add_to_card</url-pattern>
    </servlet-mapping>
</web-app>
